*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(233, 233, 233);
    background: url('../img/background.jpg');
    height: 100%;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.index{
    height: 100vh;
    background: url(../img/indexBG.jpg);
    background-position: center;
    background-size: cover;
    /* 设置背景不动 */
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.index:after{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    height: 500px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.header{
    z-index: 999;
    position: relative;
    width: 100%;
    height: 70px;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all .3s;
    user-select: none;
}
.ele {
    position: relative;
    background-color: #e7e7e74d;
    width: 100%;
    height: 0%;
    transition: all 0.3s;
}
.ele > *{
    display: none;
}
.navigation{
    position: relative;
    width: 940px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.header:hover > .ele{
    display: block;
    height: 100%;
}
.header:hover > .ele *{
    display: block;
}
.bg-img{
    z-index: 999;
    position: relative;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    top: 0%;
    left: 0%;
    color: #e8e8e8;
}
.content{
    position: relative;
    top: 0;
    display: flex;
    justify-content: flex-start;
    width: 70%;
    height: 100%;
    margin: 0 auto;
}
.logo{
    position: relative;
    top: 15px;
    left: 0;
    width: 100px;
    height: 30px;
}
.updataLog{
    position: relative;
    width: 60%;
    left: 30px;
    color: #e8e8e8;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 10px;
}
.updataLog:hover * li{
    color: red;
    transition: all 0.3s;
}
.tools{
    margin: 10px 0 10px 0;
    position: absolute;
    width: 30%;
    height: 50%;
    right: 0px;
    user-select: none;
}
.toolsview{
    position: relative;
    top: 0; 
    left: 0;
    width: 100%;
    height: 0;
    text-align: center;
    background-color: pink;
}
.tools:hover > .toolsview{
    height: 100%;
    transition: all .3s;
}
.tools * img{
    width: 50px;
    height: 50px;
    left: 50%;
}
.links{
    position: relative;
    width: 100%;
    height: 60px;
    background-color: #0000004D;
}
.linkspace{
    margin: 0 auto;
    padding: 18px;
    width: 50%;
    /* background-color: red; */
    text-align: center;
    display: flex;
    user-select: none;
}
.linkinfo{
    display: block;
    border-right: 1px solid #e8e8e8;
    width: 200px;
    width: calc(33.33%);
    cursor: pointer;
}
.lastlink{
    border-style: none;
}
.linkinfo img{
    width: 20px;
    margin-right: 8px;

}
.linkinfo a{
    text-decoration: none;
    color: #e8e8e8;
}
.firstlink:hover > .firsta{
    color: #ffffdf;
}
.secondlink:hover > .seconda{
    color: #ffffdf;
}
.lastlink:hover > .lasta{
    color: #ffffdf;
}
.mainframe{
    position:relative;
    height: 10000px;
    width: 50%;
    background-color: red;
    margin: 0 auto;
}
.mainfield{
    position: relative;
    width: 300px;
    height: 100%;
    margin: 0 auto;
    background-color: green;
}

