/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Quicksand:wght@700&display=swap'); */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.bg-img{
    height: 100vh;
}
.bg-img::after{
    /* position: absolute; */
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

}
.contenttop{
    position: absolute;
    top: 25%;
    left:50%;
    width: 100%;
    height: 370px;
    transform: translate(-50%, -50%);
}
.forehead{
    position: absolute;
    background-color: #24292e;
    width: 100%;
    height: 9%;
    user-select: none;
}
.forehead a {
    z-index: 999;
    position: relative;
    left: 17%;
    top: 26%;
    /* /* flex :1  */
    height: 100px;
    width: 300px;
}
.content{
    position: relative;
    top: 27px;
    left: 20%;
    /* transform: translate(-50%, -50%); */
    text-align: center;
    width: 60%;
    /* 页面内边距 */
    /* padding: 60px 32px; */
}
.header{
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    margin: 0 0 32px 0;
    top: 40px;
    user-select: none;
}
.header p{
    color: rgba(106, 115, 125);
    margin: 50px 0 1px 0;
    font-weight: 400;
    letter-spacing:1px;
}
.header header{
    color: black ;
    font-size: 48px;
    font-weight: 1px;
    margin-top: 8px;
}
.main{
    position: relative;
    text-align: left;
    left: 25%;
    top: 70px;
    width: 70%;
}
.field{
    position: relative;
    /* 上右下左 */
    margin: 0 0 20px 0 ;
    /* background-color: red; */
    width: 90%;
}
.space{
    margin:  0px 0 0 0 ;
}
.field dt{
    color: #24292e;
    font-size: 12px;
    font-weight: 50px;
    height: 25px;
}
.prompt span{
    color: #cb2431;
    user-select: none;
}
.enter{
    width: 80%;
    height: 29px;
    /* margin-bottom: 25px; */
    border-radius: 5px;
    background-color: #fafbfc;
    border: 1px solid #ccc;
    /* border: none; */
    outline-style: none;
    margin-right: 10px;
    /* 缩进 */
    text-indent: 10px;
}
.enter:hover{
    background: rgba(176, 178, 179, 0.9);
}
.line span{
    line-height: 20px;
    width: 20px;
    color: black;
    user-select: none;
}
.note{
    margin:  -100px 0px 0 0 ;
    color: #586069;
    font-size: 10px;
}
.note a{
    text-decoration: none;
}
.note a:hover{
    text-decoration: underline;
}
input[type='submit']{
    position: relative;
    width: 78%;
    height: 50px;
    border-radius: 7px;
    border: none;
    margin: 20px 0 0 0 ;
    background-color: #6899e2;
    outline-style: none;
    transition: all .2s;
    color: white;
    font-size: 15px;
    font-weight: 600;
    /* letter-spacing: 1px; */
}
input[type='submit']:hover{
    background-color: #3076df;
    cursor: pointer;
}
input[type='submit']:active{
    background-color: #1860cc;
}
hr{
    margin: 20px 0 0 0 ;
}
