*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.image-slider{
    width: 100vw;
    height: 100vh;
}
/* 设置每张幻灯片的大小 */
.image-slider .slide{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: all linear 0.8s;
}
/* 设置每张图片的大小 */
.image-slider .image{
    width: 100%;
    height: 100%;
/* 让图片自适应屏幕 */
    object-fit: cover;
    z-index: 50;
}
/* 设置文本样式 */
.image-slider .slide .content {
    position: absolute;
    z-index: 100;
    color: white;
    background-color: rgba(0,0,0,0.6);
    padding: 48px;
    bottom: 0;
    width: 50%;
}
/* 设置标题 */
.image-slider .slide .content h1{
    margin-bottom: 24px;
}
/* 设置按钮样式 */
#prev,#next{
    position: absolute;
    z-index: 150;
    width: 80px;
    height: 80px;
    font-size: 48px;
    color: white;

    text-align: center;
    line-height: 80px;

    background-color: rgba(0,0,0,0.6);
    border-radius: 50%;

    top: calc(50% - 24px);
    left: 50px;
    transition: all 0.2s;
    cursor: pointer;
}
#next{
    left: unset;
    right: 48px;
}
/* 隐藏幻灯片 */
.image-slider .slide{
    opacity: 0;
}
/* 显示第一张幻灯片 */
.image-slider .slide.current{
    opacity: 1;
}
/* 设置文本样式 */
.image-slider .slide .content{
    opacity: 0;
    transform: translateY(500px);
}
.image-slider .slide.current .content{
    opacity: 1;
    transform: translateY(0);
    transition: all 1s ease-in-out 0.4s;
}
#prev:hover,
#next:hover{
    background-color: rgba(255,255,255,0.6);
    color: black;
}
/* 当宽度小于960时，用以下效果 */
@media screen and (max-width:960px){
    .image-slider .slide .content{
        width: 100%;
    }
    #prev,#next{
        font-size: 24px;
        left: 24px;
        width: 48px;
        height: 48px;
        line-height: 48px;
        top: 40%;
    }
    #next{
        left: unset;
        right: 24px;
    }
}