<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>localmusicSystem</title>
    <link rel='stylesheet' href='./css/index.css' />
</head>

<body>

    <!-- <div class = 'mainPage'>
        <div class = 'header'>
            <h1 class = 'logo'>
                <a href = ''>
                    <img src = './img/logo.png'/>
                </a>
            </h1>
            <div class = 'search_warpper top_search'>
                <div>
                    <input type = 'text'/>
                </div>
            </div>
        </div>
    </div>
    <div class = 'navWrap'></div>
    <div class = 'sliderWrap'></div>
    <div class = 'downloadBlur'></div>
    <div class = 'download'></div> -->


    <div class="index">
        <div class='header'>
            <div class = 'ele'>
                <a href='./pages/login.html' class='logo'>
                    <img src='./img/logo.png' />
                </a>
            </div>

        </div>
        <div class="bg-img">
            <div class='content'>
                <div class="midcon">
                    <div class="updataLog">
                        <h2>更新日志</h2><br>
                        <ul>
                            <li v-for='(value, key) in updataInfo'>
                                {{value.date}}<br>{{value.tag}}<br>
                            </li>
                        </ul>
                    </div>
                    <span class='tools'>
                        <h2>小工具</h2><br>
                        <!-- <ul>
                        <li v-for='(value, key) in toolsSrc' :data-img='value.img'>
                            {{value}}
                        </li>
                    </ul> -->
                        <a href="./pages/tools/object/count.html"><img src='./pages/tools/img/count.png' /></a>
                        <a href="./pages/tools/object/notebook.html"><img src='./pages/tools/img/notebook.png' /></a>
                        <a href="./pages/tools/object/photoView.html"><img src='./pages/tools/img/photoView.png' /></a>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <script src='./lib/vue/vue.js'></script>
    <script src='./js/index.js'></script>
</body>

</html>